/*==========Inicio Head===============*/

.classHeadH1{
    margin-right: 12%;
    text-align: center;

}

/*==========Fin Head===============*/


/*===============Inicio Main===========================*/

.classMainSopaLetras{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}

.classPalabrasBuscar{
    width: 20%;
    height: 380px;
    border: 2px solid black;
    color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.classH2Palabras{

    text-align: center;
}

.classPalabra{
    align-items: center;
}

.classPalabraFormada{
    display: none;
}

.classSubrayar{
    text-decoration: line-through;
}

/*===============Fin Main===========================*/

/*=========Inicio puzzle*/
.classPuzzleContainer{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.classPuzzle{
    width: 630px;
    height: 540px;
    border: 2px solid black;
}

.classPuzzleFila{
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.classLetra{
    width: 35px;
    height: 35px;
    margin: 0;
    padding: 0;
}


/*=========Fin puzzle*/


/*=============Efecto cuando dan clic==================*/
/* Agrega este estilo CSS para los botones activos */
.classLetra.active {
    
    background-color: orange !important;
    color: white;
}

.classLetra.encontrada {
    
    background-color: rgb(88, 189, 30);
    color: white;
}

@media screen and (min-width:480px) and (max-width: 709px){

    .classPuzzleContainer{
        width: 100%;
    }

    .classPalabrasBuscar{
        width: 100%;
        margin: 0;
    }

    .classPalabra{
        margin: 0;
    }
}

@media screen and (min-width:375px) and (max-width: 480px){

    .classPuzzle{
        width: 100%;
    }



    .classPuzzleContainer{
        width: 100%;
    }

    .classPalabrasBuscar{
        width: 100%;
        margin: 0;
    }

    .classPalabra{
        margin: 0;
    }

}

@media screen and (max-width: 375px){
    .classPuzzle{
        width: 100%;
    }



    .classPuzzleContainer{
        width: 100%;
    }

    .classPalabrasBuscar{
        width: 100%;
        margin: 0;
    }

    .classPalabra{
        margin: 0;
    }

}